<!--  create items that exists in your shop   -->
<div class="container-fluid">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/img/cholula.jpeg" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Cholula Hot Sauce</h6>
    <h6 class="card-text text-dark">This is a mild hot sauce with hints of habanero.</h6>
    <a href="#" class="card-link">AddToCart</a>   
  </div>
</div>  

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/img/ElYucateco.jpeg" alt="Card image cap">
  <div class="card-body"> 
    <h6 class="card-subtitle mb-2 text-muted text-dark">El Yucateco Hot Sauce</h6>
    <p class="card-text">Now this is some good hot sauce. You'll def feel the kick. Must have in your hot sauce lineup.</p>
    <a href="#" class="card-link">AddToCart</a>   
  </div>
</div>

<div class="card" style="width: 18rem;">
   <img class="card-img-top" src="/img/painisgood.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Pain Is Good Hot Sauce</h5>
    <h6 class="card-subtitle mb-2 text-muted">Pain Is Good Hot Sauce</h6>
    <p class="card-text text-dark">SThis one will send you running. Feel the burn. Try if you are brave.</p>
    <a href="#" class="card-link">AddToCart</a>   
  </div>
</div>

<div class="card" style="width: 18rem;">
   <img class="card-img-top" src="/img/homemade.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Homemade Habanero</h5>
    <h6 class="card-subtitle mb-2 text-muted">Homemade Habanero</h6>
    <p class="card-text">Subtle flavors of habanero and mango makes this hot sauce irresistible. Can be accompanied with any meal. Must have!</p>
    <a href="#" class="card-link">AddToCart</a>
  </div>
</div>
</div>

