<!DOCTYPE html>
<html>
<head>
  	<title>Login Page</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Rigen's Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/new">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/dashboard">Dashboard</a>
      </li>
    </div>

    <div class="ml-auto" >
        <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2 ml-auto" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
        </form>
    </div>
</nav>
       
        {{{body}}}

<hr class="footer-margin">
<footer class="mainfooter mt-6" role="contentinfo">
 
  <div class="container">
    <div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2018 - Mohammed Rigen.  All rights reserved.</p>
		</div>
	</div>
  </div>
  
</footer>
  <style>
      body {
    background: #16222A;
    background: linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    
  }

  .footer-margin{
      margin-top: 9rem;
  }
  .customColor{
      text-decoration: none;
      color: rgba(98, 214, 150, 0.603)
  }




  </style>
    </body>
</html>